# Dependencies
node_modules/

# Production output
dist/

# SAM build output
.aws-sam/

# Environment files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/

# OS / Editor files
.DS_Store
.vscode/
.idea/
